animated() 
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
		
@-webkit-keyframes fadeInUpSmall 
	0% 
		opacity: 0;
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
		
	100% 
		opacity: 1;
		-webkit-transform: none;
		transform: none;
			
@keyframes fadeInUpSmall 
	0% 
		opacity: 0;
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
		
	100% 
		opacity: 1;
		-webkit-transform: none;
		transform: none;	
		
.fadeInUp
	animated()
	-webkit-animation-name: fadeInUpSmall;
	animation-name: fadeInUpSmall;
