$color-1= #7D5CFF

html
  height 100%
body
  height 100%
  background url(/images/back.jpg) no-repeat
  background-size cover
  background-attachment fixed

h1, h2, h3
	font-weight normal

html
  overflow-y: scroll;	

body
	font-family: $font-light

h1
	margin-top 20px
	text-align right
	
.row
	margin-left -10px
	margin-right -10px

.content
	margin-top 30px

#main-content		
	.product
		margin-bottom 25px
		
		&-wrapper
			cfix()
			
			padding: 0px;
			position relative
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(125, 92, 255, 0.5);
			
			.image
				padding 20px
				text-align center
				background white
				img
					width auto
					max-height 75px 
				
		&-info
			cfix()
			padding-top 5px
			padding-left 15px
			padding-right 5px
			
			h2
				margin-bottom 20px
				font-weight bold
				text-transform uppercase
				font-size 20px
			
		&-cost
			float left
			.total
				font-size 24px
			
			.currency
				font-size 14px

		&-more
			bordRad(20px)
			trans()
			
			position relative
			float right
			font-family $font-light
			font-size 14px
			padding 10px 20px	
			background $color-1
			color white
			text-transform uppercase
			letter-spacing 1px
			
			&:before
				trans()
				bordRad(20px)
				boxShad(0px 0px 1px 1px $color-1)
				transScale(1.2)
				
				content ''
				position absolute
				width 100%
				height 100%
				left 0; top 0
				opacity 0
			&:hover
				background 0 0
				color $color-1
				font-weight bold
				
				&:before
					transScale(1)
				
					opacity 1
		
		.stock
			padding: 10px 15px;
			border: 1px solid;
			display: inline-block;
			margin-bottom: 20px;
			margin-top: 10px;
			i
				margin-right 5px

			&.true
				color #00B300
			&.false
				color #FF5C5C
				
		.text
			margin-bottom: 10px;
			padding-top: 10px;
			border-top: 1px solid gray;

		/*handleMore*/
		&.current
			background white
			
			.product-info
				width 100%
				padding-right 15px
				
			.product-wrapper 
				.image 
					trans()
					width 100%
					img
						trans()
						max-height 250px
						
	.nothing-found
		text-align center
		
#sidebar
	padding-right 25px
	margin-bottom 40px
	
	.search-filter
		font-family: $font-light
		font-size 16px
		padding 8px 10px
		width 100%
		margin-bottom 20px
		background-image url(/images/search.png)
		background-repeat no-repeat
		background-position 97% center
		background-size 25px
		border 0px
		padding-right 50px
		border-bottom: 3px solid $color-1;
	
		+placehold()
			font-size 16px
			color black
	
	.filters-title
		font-size 25px
		text-transform uppercase
	
	input[type="checkbox"]
		display none
	
	label
		trans()
		
		width 100%
		display block
		padding 10px 0px
		border-bottom 1px solid #D5CBFF
		cursor pointer
		border-right 2px solid white
		&:hover
			border-right 3px solid $color-1
		
		&:before
			trans()
			
			content "\f00c"
			font-family fontAwesome
			color $color-1
			margin-right 5px
			opacity 0
			visibility hidden
			
	input[type="checkbox"]:checked + label
		border-right 3px solid $color-1
		&:before
			visibility visible
			opacity 1
			
		
	.filter-group
		background white
		padding 5px 10px