// фиксы, миксины и прочее
@import '_mixins.styl'
@import "_animation.styl"
@import '_fonts.styl'
@import '_frame.styl'

// основные стили
@import '_main.styl'
// адаптивность
@import '_media_queries.styl'
